@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
    height: 60px;
    background-color: black;
    color: white;
}
nav ul{
    display: flex;
    list-style-type: none; 
    align-items: center;
    height: 100%;
}
nav ul li{
    padding: 0 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.25rem;
}
.brand img{
    padding: 0 6px;
    width: 44px;
}
.container{
    min-height: 72vh;
    color: white;
    font-family: 'Varela Round', sans-serif;
    width: 70vw;
    margin: 14px auto;
    background-image: url('bg.jpg');
    background-size: cover;
    padding: 25px;
    border-radius: 6px;
}
.songItem{
    height: 50px;
    background-color: white;
    color: black;
    width: 27vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    margin: 10px 0;
}
.timeStamp{
    padding: 8px;
}
.timeStamp i{
    margin: 10px;
    cursor: pointer;
}
.songInfo{
    margin-top: 10px;
    position: absolute;
    left: 15vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img{
    width: 48px;
    opacity: 5;
    transition: 0.4s;
}
.songItem img{
    height: 42px;
    width: 42px;
    margin: 0 8px;
    border-radius: 34px;
}











.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
    cursor: pointer;
}
.progressBar{
    width: 70vw;
    cursor: pointer;
}


